body {
    margin: 0;
    padding: 0;
    background: #F4F7FE;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #14B8A6;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: transparent;
}